*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
  }
  body{
    font-family: sans-serif;
  }
  .container{
  
    width: 95%;
    margin: 0 auto;
  }
  
  .options,.pagination{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;;
  }
  input,select,option{
    padding: 0.3rem ;
    border-radius: 3px;
    outline: 0;
    border: 1px solid #000;
  }
  
  /* =======
  Table
  ======== */
  
  .data-container{
    font-family: arial, sans-serif;
    width: 100%;
    border: 1px solid #000;;
  }
  .data-row{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    border-bottom: 1px solid #000;
    border-collapse: collapse;
  }
  .data-row:nth-child(even){
    background-color: #dddddd;
  }
  .data-row:last-child{
    border-bottom: none;
  }

  .data-cell{
    border-right: 1px solid #000;
    border-collapse: collapse;
    padding: 0.5rem 0.5rem;
  }
  .data-cell:last-child{
    border-right: none;
  }
  .data-head{
    background-color: #6C65CE;
    color: #fff;
    font-weight: 700;
  }
  /* ========
  pagination
  ==========*/
  
  .pagination p{
    font-size: 0.8rem;
  }
  .pagination button{
    padding: 0.225rem 0.5rem;
    cursor: pointer;
  }